.main_wrapper {
  width: 70%;
  margin: 0 auto;
}
.box_base {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #686868;
}
.new_button_box {
  height: 60px;
  border-radius: 10px;
  transition: 0.3s;
}
.new_button_box:hover {
  background-color: #ffedf0;
  cursor: pointer;
}
.new_button_box .bi-pencil-square {
  display: inline;
  color: #ff7265;
  line-height: 60px;
  font-size: 3rem;
  font-weight: 600px;
  padding-top: 5px;
}
.new_button {
  display: inline;
  line-height: 60px;
  font-size: 2.5rem;
  font-weight: 800px;
  padding-left: 5px;
  font-family: Impact,Charcoal;
}
.blog_user_name {
  text-align: left;
  font-size: 1.6rem;
  padding: 5px 20px;
  font-weight: 600;
}
.blog_date {
  font-weight: 400;
  color: gray;
}
.blog_title {
  text-align: left;
  font-size: 2rem;
  padding: 0 30px;
}
.blog_image {
  padding: 5px 10px;
  max-width: 100%;
}
.blog_content_box {
  padding: 5px 60px 0 60px;
}
.blog_content {
  font-size: 1.8rem;
  text-align: left;
}
.blog_buttons_box {
  list-style: none;
  text-align: right;
  padding: 0 40px 10px 0;
}
.blog_buttons {
  display: inline;
  padding-left: 10px;
}
/*modal*/
#label1 {
  font-size: 2.5rem;
  font-weight: 800px;
  font-family: Impact,Charcoal;
  line-height: 54px;
}
.modal-dialog {
  width: 700px;
}
/*form*/
.form_table {
  width: 90%;
  margin: 0 auto;
}
.form_table tr{
  padding-bottom: 5px;
}
.form_table th {
  width: 30%;
  text-align: right;
}
.form_table td {
  width: 60%;
  text-align: left;
  padding: 3rem;
}
.form_table td input{
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
}
.form_table td textarea{
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  height: 8rem;
}
/*@media*/
@media (max-width: 991px){
  .main_wrapper {
    width: 80%;
  }
}
@media (max-width: 767px){
  .main_wrapper {
    width: 100%;
  }
  .blog_content_box {
    padding: 5px 40px 0 40px;
  }
  .modal-dialog {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
  }
}
