.main {
}

.main_wrapper {
  width: 70%;
  margin: 0 auto;
}
.blog_box {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #686868;
}
@media (max-width: 991px){
  .main_wrapper {
    width: 80%;
  }
}
@media (max-width: 767px){
  .main_wrapper {
    width: 100%;
  }
}
